@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --bg-color: white;
  --text-color: black;
}

.dark {
  --bg-color: #0f172a;
  --text-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}
