@import "tailwindcss";

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #1e2939;
  border-radius: 10px;
}

/* Handle (thumb) */
::-webkit-scrollbar-thumb {
  background: #4a5565; /* blue */
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4a5565; /* darker blue */
}


html {
  scroll-behavior: smooth;
}

:root {
  --bg-color: #0f172a;
  --text-color: white;
}

/* .dark {
  --bg-color: #0f172a;
  --text-color: white;
} */

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}
